header {
  background-color: #a89d13;

  height: 200px;
  width: 100%;
  overflow: visible;
}

#Logo {
  
  margin-left: 0px;
  margin-top: 0px;
  width: 200px;
  height: 200px;
}

ul {
  position: fixed;
  top: 50px;
  left: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a89d13;
}

#search{margin-left: 50%;}

li {
  margin-left: 50px;
  margin-right: 50px;
  display: inline;
  float: left;
}

li a {
  display: block;
  color: #362c63;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #998E08;
}
#logo2 {height: 100px}
footer {
  margin-top: 20%;
  display: flex;
  height: 100px;
  position: 100%;
  background-color: #a89d13;
  justify-content: space-between;
}
#right { display: flex;


}
