header {
  background-color: #a89d13;

  height: 200px;
  width: 100%;
  overflow: visible;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: space-between;
}

#Logo {
  margin-left: 0px;
  margin-top: 0px;
  width: 200px;
  height: 200px;
}

ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a89d13;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  
}

li {
  margin-left: 50px;
  margin-right: 50px;
  display: inline;
  float: left;
}

li a {
  display: block;
  color: #362c63;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #998e08;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}
#Name {
  color: #362c63;
  display: flex;
}

table {
  display: flex;
  justify-content: center;
  background-color: #362c63;
  width: 100%;
}

#Table {
  align-self: center;

}

#logo2 {
  display: flex;
  height: 100px;
}
footer {
  margin-top: 20%;
  display: flex;
  height: 100px;
  position: 100%;
  background-color: #a89d13;
  justify-content: space-between;
  align-content: center;

}

#copyRights {
  display: flex;
  align-items: center;
  padding: 30px;
  
}
#right {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
 
td,
th {
  padding: 15px;
}
tr{
  color: #a89d13;
}